<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Unity" version="5.8.13" targetFramework="net452" />
  <package id="Xero.API.SDK.Minimal" version="2.2.2-CI-20180323-153114" targetFramework="net452" />
</packages>